.button {
    position: absolute;
    bottom: 0;
    left: 15rem;
    margin: 10px; /* Adjust this value to add some spacing */
    z-index: 1; /* Make the button appear on top of the image */
    /* background-color: red; */
    width: 12rem;
    height: auto;
}
